/* DO NOT CHANGE */
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: 0 0% 100%;
  --color-foreground: 0 0% 3.9%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 0 0% 3.9%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 0 0% 3.9%;
  --color-primary: 0 0% 9%;
  --color-primary-foreground: 0 0% 98%;
  --color-secondary: 0 0% 96.1%;
  --color-secondary-foreground: 0 0% 9%;
  --color-muted: 0 0% 96.1%;
  --color-muted-foreground: 0 0% 45.1%;
  --color-accent: 0 0% 96.1%;
  --color-accent-foreground: 0 0% 9%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 0 0% 98%;
  --color-border: 0 0% 89.8%;
  --color-input: 0 0% 89.8%;
  --color-ring: 0 0% 3.9%;
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(9.84% 0 0);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(9.84% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(9.84% 0 0);
  --primary: oklch(22.68% 0 0);
  --primary-foreground: oklch(98.43% 0 0);
  --secondary: oklch(96.47% 0 0);
  --secondary-foreground: oklch(22.68% 0 0);
  --muted: oklch(96.47% 0 0);
  --muted-foreground: oklch(52.55% 0 0);
  --accent: oklch(96.47% 0 0);
  --accent-foreground: oklch(22.68% 0 0);
  --destructive: oklch(59.18% 0.227 29.234);
  --destructive-foreground: oklch(98.43% 0 0);
  --border: oklch(91.41% 0 0);
  --input: oklch(91.41% 0 0);
  --ring: oklch(9.84% 0 0);
  --chart-1: oklch(60.49% 0.226 29.234);
  --chart-2: oklch(72.62% 0.151 160.364);
  --chart-3: oklch(71.48% 0.199 70.08);
  --chart-4: oklch(67.6% 0.177 254.604);
  --chart-5: oklch(64.78% 0.202 14.138);
}

.dark {
  --background: oklch(9.84% 0 0);
  --foreground: oklch(98.43% 0 0);
  --card: oklch(9.84% 0 0);
  --card-foreground: oklch(98.43% 0 0);
  --popover: oklch(9.84% 0 0);
  --popover-foreground: oklch(98.43% 0 0);
  --primary: oklch(98.43% 0 0);
  --primary-foreground: oklch(22.68% 0 0);
  --secondary: oklch(27.84% 0 0);
  --secondary-foreground: oklch(98.43% 0 0);
  --muted: oklch(27.84% 0 0);
  --muted-foreground: oklch(64.93% 0 0);
  --accent: oklch(27.84% 0 0);
  --accent-foreground: oklch(98.43% 0 0);
  --destructive: oklch(45.68% 0.209 29.699);
  --destructive-foreground: oklch(98.43% 0 0);
  --border: oklch(27.84% 0 0);
  --input: oklch(27.84% 0 0);
  --ring: oklch(83.45% 0 0);
  --chart-1: oklch(72.69% 0.168 35.68);
  --chart-2: oklch(70.35% 0.143 165.385);
  --chart-3: oklch(77.87% 0.184 85.924);
  --chart-4: oklch(63.13% 0.232 264.376);
  --chart-5: oklch(75.23% 0.167 28.588);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground;
  }
  
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}